.headerContainer {
/*     background: #6246ea;
    color: white; */
    display: flex;
    justify-content: center;
    border: 1px solid #E5E7EB;

}

.headerContent {
    display: flex;
    width: 100%;
    max-width: 121.6rem;
    margin: 0rem 1rem;
    justify-content: space-between;
}

.headerContentRight {
    display: flex;
}

.headerContentRight ul {
    display: flex;
}

.headerContentRight ul li {
    display: flex;
    list-style: none;
    margin: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

.headerContentRight ul li:last-of-type {
    background: #F1F2F4;
}

.headerContentRight ul li a{
    text-decoration: none;
    color: black;
}

.headerContentLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}