.headerContainer {
/*     background: #6246ea;
    color: white; */
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E5E7EB;

}

.headerContent {
    display: flex;
    width: 100%;
    max-width: 121.6rem;
    margin: 0rem 2rem;
    justify-content: space-between;
}

.headerContentRight {
    display: flex;
}

.headerContentRight ul {
    display: flex;
}

.headerContentRight ul li {
    display: flex;
    list-style: none;
    margin: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

.headerContentRight ul li:hover {
    border-radius: 0.5rem;
    background: #6246ea;
    color: #ffffff;
    cursor: pointer;
}

.headerContentRight ul li:last-of-type {
    border-radius: 0.5rem;
    background: #6246ea;
}

.headerContentRight ul li:last-of-type a {
    color: #ffffff;

}

.headerContentRight ul li:last-of-type:hover a{
    background-color: rgb(66, 49, 152);
    color: rgb(232, 230, 227);
}


.headerContentRight ul li a{
    text-decoration: none;
    color: black;
}

.headerContentLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}