.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterContainer {
    max-width: 121.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-transform: uppercase;

  transition: background 200ms;
  color: #6246ea;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
}

.btn-primary:hover {
  background: #523dbe;
  color: white;
  cursor: pointer;
}

.btn-primary-active {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  transition: background 200ms;

  background: #523dbe;
  color: white;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
  
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-transform: uppercase;

  transition: background 200ms;
  color: #6246ea;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
}

.btn-secondary:hover {
  background-color: #6246ea;
  color: white;
  cursor: pointer;
}

.btn-secondary-active {

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;

  transition: background 200ms;
  background: #523dbe;
  color: white;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
  
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-transform: uppercase;
  cursor: pointer;

  padding: 0.4rem 2.4rem;
  border-radius: 0.5rem;
}


.header {
  min-height: 53.2rem;
  background-color: #f8f8ff;

  position: relative;
  overflow: hidden;

  display: grid;
  place-content: center;
}

.header::before {
  content: "";
  background-image: url(../assets/bg-header-top.svg);
  width: 40.7rem;
  height: 34.5rem;

  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.header::after {
  content: "";
  background-image: url(../assets/bg-header-bottom.svg);
  width: 41.4rem;
  height: 33rem;

  position: absolute;
  right: 0;
  bottom: -1.2rem;
}

.header .content {
  width: fit-content;

  position: relative;
  z-index: 1;
}

.header .content .top {
  text-align: center;
}

.header p {
  font-weight: 500;
  line-height: 160%;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #e45858;
}

.header h1 {
  font-size: 4.8rem;
  line-height: 125%;
  color: #121214;
  max-width: 64.7rem;
  margin: 1.8rem auto 0;
}

.header h1 span {
  color: #6246ea;
}



main > .content {
  max-width: 121.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.top .view {
  display: flex;
  padding: 0.8rem;

  border: 0.1rem solid #eaeaea;
  border-radius: 0.6rem;

  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 10%);
}

section.cards {
  margin-top: 4rem;

  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

section.bottom {
  display: flex;
  background-color: white;
  box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 10%);
  margin: 4rem 0rem;
  border-radius: 0.6rem;
}

section.bottom {
  width: 100%;
}

section.bottom button{
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 2rem;
}

section.bottom h3{
  padding: 1rem;
  width: 100%;
  text-align: center;
}

section.bottom h3:hover{
  cursor: pointer;
opacity: 0.5;
}

.card {
  background: #ffffff;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  max-width: 38.4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  position: relative !important;
  width: 100% !important;
  max-height: 22rem;
  object-fit: cover;
}

.card .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.6rem;

  padding: 1.6rem;
}

.card h3 {
  color: #121214;
  font-size: 2rem;
  line-height: 140%;
}

.card p {
  opacity: 0.75;
}

.card .location {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  opacity: 0.75;
}

.location i {
  color: #e45858;
  font-size: 2.4rem;
  opacity: 1;
}

/* responsivo - milha extra */


.link {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: gray;
  padding: 1rem;
  background: #6246ea;
  color: #ffffff;
  transition: background 200ms;
}

.link:hover {
  background: #523dbe;
  color: white;
}



@media (max-width: 1024px) {

  .cards {
    grid-template-columns: 2fr 2fr !important;
  }

  .header::before {
    background-size: 30vw;
    background-repeat: no-repeat;
  }

  .search-field {
    margin-bottom: 0;
    gap: 0;
  }

  .btn-header {
    margin-top: 1rem;
  }

}

@media (max-width: 870px) {

  .btn-header {
    margin-left: 0rem;
    padding: 1.4rem 1.4rem;
  }

  .search {
    align-items: inherit;
  }

  .search-field {
    margin: 1rem 0rem;
    margin-bottom: 0rem;
  }

  .header .content {
    padding: 4rem;
  }

  .header form {
    flex-direction: column;
  }
}

@media (max-width: 660px) {

  .footerBlock {
    width: 100%;
  }
  
}

@media (max-width: 500px) {

  .footerContainer {
    flex-direction: column;
  } 
  section.cards {
    grid-template-columns: 1fr !important;
  }

  .card img {
    width: 100%;
    height: auto;
  }
  
  .card {
    max-width: 100%;
  }
}

/*Filtro*/
/* styles.module.css */

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 2rem 0;
}

.filterContainer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.filterContainer select {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filterContainer button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filterContainer button:hover {
  background-color: #aaa;
}

.filterContainer option {
  font-size: 1rem;
}


/**/

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--text-color);
  display: inline-flex;
}

.nav__logo {
  font-weight: 700;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
      position: fixed;
      background-color: var(--first-color);
      left: 0;
      top: -100%;
      width: 100%;
      padding: 5rem 0 4rem;
      border-radius: 0 0 1.5rem 1.5rem;
      box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
      transition: .4s;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.home {
  background-color: var(--first-color);
  /*   padding: 9rem 0 2rem; */
  height: 100vh;
  display: grid;
}


.home__container {
  width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 152.6rem; */
}

.home__data {
  text-align: center;
  margin-bottom: 7rem;
}

.home__title {
  font-size: 4.2rem;
  margin: .75rem 0;
}

.home__description {
  font-size: 1.5rem;
    margin: 4rem 0rem;
    color: #1f1f1fba;
    line-height: 25px;
}

.home__button {
  display: flex;
  width: fit-content;
  list-style: none;
  margin-top: 1rem;
  padding: 1.3rem;
  border-radius: 15px;
  font-size: 1.3rem;
  background: #03a9f4;
  text-decoration: none;
  color: white;
}

.home__button:hover {
  background-color: #3498db;
  color: rgb(232, 230, 227);
}

.home__button:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}

.home__img img {
  animation: floaty 1.8s infinite alternate;
  border-radius: 999px;
}
.home__img {
  justify-self: center;
  margin-bottom: 7rem;

}



.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
  margin-top: 1rem;
}

.home__footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}

@keyframes floaty {
  0% {
      transform: translateY(0);
  }

  100% {
      transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
      transform: scale(1, 1);
  }

  100% {
      transform: scale(.85, .85);
  }
}

@media screen and (max-width: 320px) {
  .home {
      padding-top: 7rem;
  }
}

@media screen and (min-width: 767px) {
  .nav {
      height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close {
      display: none;
  }

  .nav__list {
      flex-direction: row;
      column-gap: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .home__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 2rem;
  }

  .home__data {
      text-align: initial;
  }

  .home__img img {
  }

  .home__shadow {
      width: 250px;
      height: 40px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 1600px) {
  .container {
      zoom: 1.5;

  }
}

@media screen and (min-width: 2048px) {
  .home {
      /* Ou qualquer outra altura desejada */
      row-gap: 4rem;
  }
}

@media screen and (min-width: 3840px) {
  /* body {
      zoom: 3.1;
  } */
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer__link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .footer__menu {
      flex-direction: column;
      align-items: center;
  }

  .footer__link {
      margin: 5px;
  }
}