.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn-header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-transform: uppercase;
  cursor: pointer;

  padding: 1.1rem 1.4rem;;
  border-radius: 0.5rem;

  background: #6246ea;

  color: #ffffff;
  transition: background 200ms;

  margin-left: 2rem;
}

.btn-header:hover {
  background: #523dbe;
  color: white;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-transform: uppercase;

  transition: background 200ms;
  color: #6246ea;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
}

.btn-primary:hover {
  background: #523dbe;
  color: white;
  cursor: pointer;
}

.btn-primary-active {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  transition: background 200ms;

  background: #523dbe;
  color: white;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
  
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-transform: uppercase;

  transition: background 200ms;
  color: #6246ea;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
}

.btn-secondary:hover {
  background-color: #6246ea;
  color: white;
  cursor: pointer;
}

.btn-secondary-active {

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;

  transition: background 200ms;
  background: #523dbe;
  color: white;

  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
  
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-transform: uppercase;
  cursor: pointer;

  padding: 0.4rem 2.4rem;
  border-radius: 0.5rem;
}


.header {
  min-height: 53.2rem;
  background-color: #f8f8ff;

  position: relative;
  overflow: hidden;

  display: grid;
  place-content: center;
}

.header::before {
  content: "";
  background-image: url(../assets/bg-header-top.svg);
  width: 40.7rem;
  height: 34.5rem;

  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.header::after {
  content: "";
  background-image: url(../assets/bg-header-bottom.svg);
  width: 41.4rem;
  height: 33rem;

  position: absolute;
  right: 0;
  bottom: -1.2rem;
}

.header .content {
  width: fit-content;

  position: relative;
  z-index: 1;
}

.header .content .top {
  text-align: center;
}

.header p {
  font-weight: 500;
  line-height: 160%;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #e45858;
}

.header h1 {
  font-size: 4.8rem;
  line-height: 125%;
  color: #121214;
  max-width: 64.7rem;
  margin: 1.8rem auto 0;
}

.header h1 span {
  color: #6246ea;
}

.search {
  margin-top: 4rem;

  display: flex;
  padding: 4rem;
  gap: 0;
  align-items: center;

  background: #ffffff;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 10px 0px, rgb(0 0 0 / 10%) 0px 1px 0px 0px;
/*   box-shadow: rgb(0 0 0 / 6%) 2px 1px 10px 10px, rgb(0 0 0 / 10%) 0px 1px 0px 0px;
 */}

.formContent {
  max-width: 37rem;
}

.search-field {
  display: flex;
  align-items: center;
  margin: 1rem 0.5rem;
 
  background: #eaeaea73;
  border: 1px solid #8587936e;
  border-radius: 0.5rem;

}

.input,
.select {
  color: #7c7c8a;
  min-width: 29rem;
  padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

.search-field i {
  color: #e45858;
  font-size: 2.4rem;
}

.select,
.select {
  position: relative;
}

.select {
  z-index: 1;
}

.select option:not(:first-of-type) {
  color: black;
}

.select i.ph-caret-down-light {
  position: absolute;
  right: 1rem;
  z-index: 0;
  color: #858793;
}

form button.btn {
  padding: 1.2rem 3.2rem;
}

main > .content {
  max-width: 121.6rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.top .view {
  display: flex;
  padding: 0.8rem;

  border: 0.1rem solid #eaeaea;
  border-radius: 0.6rem;

  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 10%);
}

section.cards {
  margin-top: 4rem;

  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

section.bottom {
  display: flex;
  background-color: white;
  box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 10%);
  margin: 4rem 0rem;
  border-radius: 0.6rem;
}

section.bottom {
  width: 100%;
}

section.bottom button{
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 2rem;
}

section.bottom h3{
  padding: 1rem;
  width: 100%;
  text-align: center;
}

section.bottom h3:hover{
  cursor: pointer;
opacity: 0.5;
}

.card {
  background: #ffffff;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  max-width: 38.4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  position: relative !important;
  width: 100% !important;
  max-height: 22rem;
}

.card .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.6rem;

  padding: 1.6rem;
}

.card h3 {
  color: #121214;
  font-size: 2rem;
  line-height: 140%;
}

.card p {
  opacity: 0.75;
}

.card .location {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  opacity: 0.75;
}

.location i {
  color: #e45858;
  font-size: 2.4rem;
  opacity: 1;
}

/* responsivo - milha extra */
.main {
  padding-inline: 4rem;
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: gray;
  padding: 1rem;
  background: #6246ea;
  color: #ffffff;
  transition: background 200ms;
}

.link:hover {
  background: #523dbe;
  color: white;
}

.iconSvg {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
}

@media (max-width: 1024px) {

  .cards {
    grid-template-columns: 2fr 2fr !important;
  }

  .header::before {
    background-size: 30vw;
    background-repeat: no-repeat;
  }

  .search-field {
    margin-bottom: 0;
    gap: 0;
  }

  .btn-header {
    margin-top: 1rem;
  }

}

@media (max-width: 870px) {

  .btn-header {
    margin-left: 0rem;
    padding: 1.4rem 1.4rem;
  }

  .search {
    align-items: inherit;
  }

  .search-field {
    margin: 1rem 0rem;
    margin-bottom: 0rem;
  }

  .header .content {
    padding: 4rem;
  }

  .header form {
    flex-direction: column;
  }
}

@media (max-width: 660px) {

  .footerBlock {
    width: 100%;
  }
  
}

@media (max-width: 500px) {

  .footerContainer {
    flex-direction: column;
  } 
  section.cards {
    grid-template-columns: 1fr !important;
  }

  .card img {
    width: 100%;
    height: auto;
  }
  
  .card {
    max-width: 100%;
  }
}