.mainWrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(221,235,241,.3);
    padding: 2rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    max-width: 121.6rem;    
    background-color: rgb(255 255 255/1);
    border-radius: 1.5rem;
    border: 1px solid #E5E7EB;
    padding: 5rem;

}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


.mainHeaderProfileImageContainer {
    max-width: 4rem;

}

.mainHeaderProfileImageContainer img {
    width: 100%;
    border-radius: 999px;
}

.mainHeaderProfileNameContainer {
    font-weight: 600;
}


.ContentPost {
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    padding: 2rem;
}

.ContentPost h2 {
    font-size: 2.875rem;
}

.ContentPost h3 {
    font-size: 2rem;
}

.ContentPost h2, .ContentPost h3 {
    margin-bottom: 1rem;
}

.ContentPost p, .ContentPost ul, .ContentPost ol {
    margin-bottom: 3rem;
    text-align: justify;
}

.ContentPost ul, .ContentPost ol {
    margin-left: 2rem;
}

  .parallax {

     
    /* Defina uma altura para a visão que o usuário terá da imagem */
    min-height: 200px;
     
    /* defina o background como fixo e posicione a imagem */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    }


    .mainHeaderContentLeft {
        display: flex;
        align-items: center;
    }

    .mainHeaderContentRight {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: rgb(98, 70, 234);
        color: white;
        padding: 1rem;
    }

    .mainHeaderContentRight svg{
        color: red;
    }

    .blockListReference {
        margin-left: 0!important;
    }
    .listReference {
        list-style: none;
    }